<template name="aboutMyDesigns">
<div class="aboutMyDesigns">
  <p>All good design comes from proper planning. Knowing a project's constraints leads to efficient, cost effective, feasible, and sustainable designs. Using a one-size-fits-all approach isn't just inefficient, its detrimental. I start by analyzing your project needs and coming up with a few good options for how to proceed. Most clients want to maximize their website's ROI (return on investment) and lower their maintenance costs.</p>
</div>
</template>
