<template name="aboutThisWebsite">
<div class="aboutThisWebsite">
  <p>This website was created by hand in very little time as a placeholder while I slowly find time to design a new one. It is as minimalist and to the point as possible. Feature creep is easy and minimalism is hard.</p>
  <p>This website is currently running nodejs on my customized web-server platform based on Linux and Virtual Machines.</p>
</div>
</template>
