<template name="about">
<div class="about">
  <nav class="subcontentNav">
    <ul>
      <li><a href="/about/me/">Me</a></li>
      <li><a href="/about/my_designs/">My Designs</a></li>
      <li><a href="/about/this_website/">This Website</a></li>
      <li><a href="/about/testimonials/">Testimonials</a></li>
    </ul>
  </nav>
  {{> yieldSubcontentMain}}
</div>
</template>
