<template name="design">
<div class="design">
  <nav class="subcontentNav">
    <ul>
      <li><a href="/design/portfolio/">Portfolio</a></li>
      <li><a href="/design/moodboards/">Moodboards</a></li>
    </ul>
  </nav>
  {{> yieldSubcontentMain}}
</div>
</template>
