<template name="footer">
<div id="footerMain">
  <footer>
    &copy; 2015 <a href='&#109;a&#105;lto&#58;%62ml%79o&#110;&#64;g%&#54;Dail%2E%63&#111;m'>Brandon Lyon</a>
  </footer>
</div>
</template>
