<template name="headerMain">
<div id="headerMain">
  <header>
    <nav>
      <ul>
        <li><a href="/">BML</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/design/">Design</a></li>
        <li><a href="/contact/">Contact</a></li>
        <li><a href="/readme/">Readme</a></li>
      </ul>
    </nav>
  </header>
</div>
</template>
