<template name="headerMain">
<div id="headerMain">
  <header>
    <nav>
      <ul>
        <li><a href="/">Brandon M Lyon</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    </nav>
  </header>
</div>
</template>
