<template name="homepage">
<div class="homepage">
  <p>Welcome! I have over 10 years of history as a professional coder and designer in multiple industries. The bulk of my experience is website development but I've also worked as a graphic designer, photographer, apparel designer, and architectural designer.</p>
</div>
</template>
