<template name="moodboards">
<div class="moodboards">
  <div class="listItem">
    <a data-pin-board-width="400" data-pin-do="embedBoard" data-pin-scale-height="320" data-pin-scale-width="80" href="https://www.pinterest.com/designbybrandon/website-design-inspiration/"></a>
  </div>
  <div class="listItem">
    <a data-pin-board-width="400" data-pin-do="embedBoard" data-pin-scale-height="320" data-pin-scale-width="80" href="https://www.pinterest.com/designbybrandon/mobile-design-inspiration/"></a>
  </div>
  <div class="listItem">
    <a data-pin-board-width="400" data-pin-do="embedBoard" data-pin-scale-height="320" data-pin-scale-width="80" href="https://www.pinterest.com/designbybrandon/graphic-design-inspiration/"></a>
  </div>
  <div class="listItem">
    <a data-pin-board-width="400" data-pin-do="embedBoard" data-pin-scale-height="320" data-pin-scale-width="80" href="https://www.pinterest.com/designbybrandon/packaging-design-inspiration/"></a>
  </div>
  <div class="listItem">
    <a data-pin-board-width="400" data-pin-do="embedBoard" data-pin-scale-height="320" data-pin-scale-width="80" href="https://www.pinterest.com/designbybrandon/photographic-inspiration/"></a>
  </div>
  <div class="listItem">
    <a data-pin-board-width="400" data-pin-do="embedBoard" data-pin-scale-height="320" data-pin-scale-width="80" href="https://www.pinterest.com/designbybrandon/colorways/"></a>
  </div>
</div>
</template>
