/*
* IMPORTANT README!
* A Webview does NOT have many of the built in baseline styles that
* a browser normally would. This means you have to supply your own.
*/
script {
    display:none !important;
  }
* {
  font-family: inherit;
  line-height: 125%;
  margin: 0;
  padding: 0;
}
html {
/*
!IMPORTANT README ABOUT FONTS!
62.5% ~ = 10px
This is to make calculations nice. Set the actual
desired measuements in the body selector below.
When sizing fonts use steps of +2... 12,14,16,18,20,22,24...
Minimum size is 12.
*/
font-family: sans-serif;
font-size: 62.5%;
line-height: 78.125%;
-webkit-text-size-adjust: 100%;
}
body {
  color: #222222;
  font-size: 160%;
  /* in the absence of fontIndex, we assume 160% */
  /* to calculate children of the body, (100 / %needed = 16px / px desired) */
  /* so for 12px (100 / x = 16 / 12), x = 75 */
  /* or in modern terms, font-size:calc(100% * desiredFontSize / baseFontSize) */
  /* aka calc(100% * 12 / 16) = 75 */
  line-height: 125%;
  margin: 0;
  padding: 0;
}
.fontIndex0 {
  font-size: 110%;
}
.fontIndex1 {
  font-size: 120%;
}
.fontIndex2 {
  font-size: 140%;
}
.fontIndex3 {
  font-size: 160%;
}
.fontIndex4 {
  font-size: 180%;
}
.fontIndex5 {
  font-size: 200%;
}
body > div {
  max-width: 100%;
}
h1 {
  font-size: calc(100% * 24 / 16);
  margin-bottom: .7em;
  margin-top: .7em;
}
h2 {
  font-size: calc(100% * 20 / 16);
}
h3 {
  font-size: calc(100% * 18 / 16);
}
h4 {
  font-size: calc(100% * 17 / 16);
}
a[x-apple-data-detectors] {
  /* tell iOS not to style phone numbers */
  color: inherit !important;
  font-family: inherit !important;
  font-size: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
  text-decoration: none !important;
}
li {
  list-style-position: inside;
}
/* END RESET CSS END RESET CSS END RESET CSS*/
/* END RESET CSS END RESET CSS END RESET CSS*/
