html {
  background: #444444;
}
body {
  font-family: arial, verdana, sans-serif;
}
a {
  color: #e41b5b;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
blockquote {
  font-size: calc(100% * 20 / 16);
  font-style: italic;
  font-weight: 700;
  margin: 0 0 1em 0;
}
p {
  margin-bottom: 1em;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
}
nav li {
  flex: 0 1 auto;
  list-style: none;
  padding: .3rem 0;
}
nav a {
  display: inline-block;
  line-height: 4.4rem;
  outline: 0;
  padding: 0 .5em;
}
