#headerMain {
  background: #222222;
  border-bottom: .5rem solid #e41b5b;
}
#headerMain header {
  max-width: 92rem;
  margin: 0 auto;
  width: 90%;
}
#headerMain a {
  color: #ffffff;
  font-size: calc(100% * 18 / 16);
  text-decoration: none;
}
#headerMain li:first-child {
  font-family: Georgia,'Times New Roman','Times',serif;
  font-size: calc(100% * 24 / 16);
  margin-left: -.5em;
}
#headerMain a:hover {
  color: #e41b5b;
}
