.portfolio .listItem {
  background: #000000;
  padding: .5rem;
  margin: 0 0 3rem 0;
  overflow: hidden;
}
.portfolio .listItem img {
  float: left;
  width: 100%;
}
.portfolio .listItem ul {
  box-sizing: border-box;
  clear: both;
  color: #dddddd;
  padding: 2rem 3rem 2rem 3rem;
  width: 100%;
}
