.recommended blockquote {
  background: #cccccc;
  border-radius: 1rem;
  padding: .5em 1em;
}
.recommended blockquote a {
  color: #555555;
}
.recommended blockquote a:hover {
  text-decoration: none;
}
.recommended .listItem {
  border-bottom: .1rem dotted #aaaaaa;
  padding: 1em 0;
}
